{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>practice</title>
  {% block style %}
  {% endblock style %}
</head>
<body>
  <nav class="navigator">
    <h1 class="title">
      <a href="{% url 'index' %}">
        Jinwoo project
      </a>
    </h1>
    <ul class="menu">
      <li class="menu-item">
        <a href="{% url 'index' %}">HOME</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'post-list' %}">POST</a>
      </li>
      {% if user.is_authenticated %}
        <li class="menu-item">
          <a href="{% url 'account_logout'%}">LOGOUT</a>
        </li>
      {% else %}
        <li class="menu-item">
          <a href="{% url 'account_login' %}">LOGIN</a>
        </li>
        <li class="menu-item"">
          <a href="{% url 'account_signup' %}">SIGN UP</a>
        </li>
      {% endif %}
    </ul>
    
  </nav>
  {% if user.is_authenticated %}
    <p>안녕하세요 {{user}}님!!</p>
  {% else %}
    <p>로그아웃된 상태입니다.</p>
  {% endif %}

  {% block content %}
  {% endblock content %}
</body>
</html>